<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Jogo da velha</title>
		
		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- estilo -->
		<link href="../css/style.css" rel="stylesheet">
	</head>

	<body>

		<div class="container">
            <div class="row vertical-offset-80">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                    	<div class="panel-heading">                                
                            <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Jogo_da_velha_-_tic_tac_toe.png" class="img-responsive" alt="Erro ao buscar a imagem"/>
                            <div class="row-fluid user-row">
                            </div>
                        </div>
                        <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" class="form-signin" action="/" method="POST">
                            <fieldset>
                                    <input class="form-control" placeholder="Nome" name="nome" type="text" required>
                                    <br></br>
                                    <input class="form-control" placeholder="Apelido"  name="apelido" type="text" required>
                                    <br></br>
                                    <input class="form-control" placeholder="E-mail"  name="email" type="email">
                                    <br></br>
                                    <input class="form-control" placeholder="Senha"  name="senha" type="password" required>
                                    <br></br>
                                    <div id="buttons-container">
                                    <input class="btn btn-lg btn-success btn-block" type="submit" id="buttons-container" value="Entrar »">
                                    </div><br>
                                    Já tem cadastro? <a href="../index.html">Logue aqui</a>
                                </fieldset>
                            </form>
                        </div>
                    </div>
  
                </div>
            </div>
        </div>
        <script src="js/scripts.js"></script>

		
	</body>
</html>